@import './variables.scss';

.article-container {
    //padding-top: 150px 
    margin: 0;
    padding: 0;
}
.article-container .headline-container {
    background-color: $bb-gray;
    padding: 20px 0 20px 0;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.article-container .headline-container .title-container{
    padding: 10px;
}
.article-container .headline-container .title-container .a-title {
    // font-size: 30px;
    color: #042f7f;
}
.article-container .headline-container .main{
    background-color: #fff;
    min-height: 300px;
    margin-bottom: 20px;
}
.article-container .headline-container .main .thumbnail {
    position: relative;
}

.article-container .headline-container .main .thumbnail .editorial-type-img {
    position: absolute;
    top: -3%;
    left: 3%;
    // transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: $main-blue;
    padding-left: 16px;
    padding-right: 16px;
    h2{
        text-transform: uppercase;
        
    }
}
.article-container .headline-container .main .thumbnail img{
    width: 100%;
    //max-height: 445px;
    height: 100%;
    object-fit: cover;
}
.article-container .headline-container .main .content{    
    padding: 20px 40px;

    // TITLE
    h1{
        margin: 0 0 10px 0;
        // font-size: 2em;
        //line-height: 2.2em;        
    }
    // SUBTITLE
    h3{
        margin: 0 0 10px 0;
        font-size: 1.1em;
    }
    .author{
        font-weight: bold;
        font-size: 0.75em;
        margin: 0;
    }
    .teks{
        color: $black-2;
        line-height: 1.5em;
        font-size: 1em;
        word-wrap: break-word;
    }
    .article-option{
        color: #696968;
        padding: 20px 0;        
        font-size: 0.8em;        
        .e-lbl{

        }
        .e-img{
            .img-mini {
                width: 50px;
                height: 50px;
                margin-right: 20px;
                float: left;
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .e-name{
                padding-top: 14px;                
                .follow-user{
                    margin-left: 20px;
                    padding: 5px 10px 3px 10px;
                    .icon-follow{
                        width: 14px;
                        height: 14px;
                    }
                }
            }

        }
        .e-icn{            
            .icons{
                float: right;
                height: 52px;
                .icon-network{
                    display: inline;        
                }                
            }    
        }
    }

}

.article-container .list-container{
    margin-top:30px;
    background-color: #fff;
}
.article-container .list-container .content{
}
.article-container .list-container .content .a-content{
    // margin-left: 10px;
    // margin-right: 10px;
}
.article-container .comments-container{
    margin-top:10px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.article-container .comments-container .comments-content{
    background-color: #e6e6e6;
    
}

.side-content{
}
.a-side{
  margin-left: 20px;
}


.popular-news {
    border: solid 1px;
    padding: 15px;
    border-color: #e6e6e6;
}

.bacajuga{
    border-top: 1px solid $bb-grayWhite;
    border-bottom: 1px solid $bb-grayWhite;
    margin: 20px 0 0 0;
    padding: 0;
    h4{
        color: $main-red;
        margin: 10px 0 0 0;
    }
    ul{         
        -webkit-margin-before: 0;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 1.6em; 
    }
    ul li {
        color: $main-red;
        list-style: none;
        font-weight: 700;        
        padding-left: 0;         
        text-indent: -1.6em;        
    }
  
   ul li::before {
       color: $main-red;
       content: "\2022";
       font-size: 1em;
       padding-right: .4em;
       padding-left: 0;       
       position: relative;
       top: 0;       
    }
}

.mc{
    // width: 100%;  
    display: table;
    min-height: 52px;    
    .mc-content{
        vertical-align:middle;
        display: table-cell;
    }
}


.el-dialog{
    .el-dialog__header,
    .el-dialog__body,
    .el-dialog__footer
    {
        background-color: red!important;
    }
}

.rpt-opt{
    display: block;
    padding: 0 0 5px 5px;
    clear: both;
    .el-radio{
        display: block;
        margin-left: 0;
        white-space: normal;
        .el-radio__input{            
            
            .el-radio__original{
                
            }
        }
        
    }
}