@import './variables.scss';

.comment-box{
    background-color: $main-blue!important;
}
.comment-box .content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    &-img{        
        img{
            width: auto;
            height: 100%;
        }
    }   
}
.comment-box .content .disabled-lbl{
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
}
