@import './variables.scss';

.comment-box{
    background-color: $main-blue!important;
}
.comment-box .content{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    &-img{        
        img{
            width: auto;
            height: 100%;
        }
    }   
}
.comment-box .content .disabled-lbl{
    color: #fff;
    text-align: center;
    font-size: 10px;
    line-height: 18px;
}

@media all and (max-width: 480px) {    
    .comment-box .content{
        padding: 10px;
        &-img{        
            .img-mini{
                width: 40px;
                height: 40px;
            }
        }
        &-comment{
            .el-textarea{
                font-size: 0.8em;
            }
        }
        button{
            font-size: 0.8em;
            padding: 8px 20px;
        }
    }
}