@import './variables.scss';
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.editoral-container {
    background-color: #fff;
    .headline-container {
        background-color: #e6e6e6;
        padding: 20px 0;
        .latest-news{
            border-radius: 4px;    
            background-color: #fff;
            height: 300px;            
            .image-hl{                
                width:100%;
                max-height: 300px;                
                object-fit: cover;
            }
            h2 {
                position: absolute;
                top: 5%;
                left: 2%;
                // transform: translate( -50%, -50% );
                text-align: center;
                color: white;
                font-weight: bold;
                background-color: $main-blue;
                padding: 10px 10px 8px 10px;                
                text-transform: uppercase;
                font-size: 1em;
                margin: 0;                
            }
            .info{
                padding: 20px;
                h1{
                    //font-weight: bold;
                    font-size: 1.5em;
                    //line-height: 2.2em;
                    margin: 0 0 10px 0;                
                }
                .teaser{    
                    font-size: 0.9em;
                    line-height: 1.2em;
                    margin-bottom: 10px;
                    text-align: justify;
                }
                .author{
                    font-weight: bold;
                    font-size: 0.8em;
                }
            }
            
            .share{
                position: absolute;
                bottom: 20px;
            }
        }
    }    
}

.editoral-container .list-container{    
    background-color: #fff;
    display: flex;
    .content{
        padding-top:30px;
        order: 1;
        -ms-flex-order: 1;
        width: 66.66667%;
    }
    .side-content{
        padding-top:30px;
        order: 2;
        -ms-flex-order: 2;
        width: 33.33333%;
    }
}

.a-side{
  // margin-left: 20px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .editoral-container {        
        .headline-container {            
            .latest-news{                
                height: auto;
                .image-hl{
                    width: 100%;
                    max-height: 150px;
                    object-fit: cover;
                }
                h2 {
                    font-size: 0.8em;                
                }
                .info{
                    padding: 10px;
                    h1{                        
                       font-size: 1em;                       
                    }
                    .teaser{    
                        font-size: 0.8em;
                        line-height: 1.1em;
                    }
                    .author{
                        font-size: 0.75em;
                    }
                }
                
                .share{
                    position: relative;
                    display: block;
                    bottom: 0;
                    margin-top: 10px;
                }
            }
        }
        
        .list-container{
            flex-direction: column;
            .content{
                order: 2;
                flex-basis: auto;
                width: 100%;
            }
            .side-content{
                order: 1;
                flex-basis: auto;
                width: 100%;
            }
        }
    }    
    
}