.editoral-container {

}
.headline-container {
    background-color: #e6e6e6;
}
.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
.title-container{
    padding: 10px;
}
.title {
    font-size: 30px;
    color: #042f7f;
}
.latest-news{
    background-color: #fff;
    min-height: 300px;
    margin-bottom: 40px;
}

.latest-news img{
    width: 100%;
    height: auto;
}

.list-container{
    margin-top:30px;
    background-color: #fff;
}
.content{
}
.a-content{
    margin-left: 10px;
    margin-right: 10px;
}
.side-content{
}
.a-side{
  margin-left: 20px;
}
.news-col{
    margin: 10px;
}
.news-card{
    margin: 5px;
}
.card-image{
    width: 100%;
    height: auto;
    max-height: 235px;
}