@import './variables.scss';

.events {
    margin-bottom: 10px;
}

.events .events-title{
  h3{
    font-size: 22px;
    font-family: 'DINPro-Bold';
    margin: 0;
    display: inline;
  }
  .btn-control{
    display: inline;
  }
}
.events .events-content{
  color: $bb-grayWhite;
  font-size: 0.8em;
  min-height: 134px;
}

.events .events-content .events-separator {
  border-left: 2px solid $bb-gray;
  height: 100%;
  .mc{
    display: table;
    min-height: 134px;
    .mc-content{
      vertical-align:middle;
      display: table-cell;
    }
  }
}
.events .events-content .events-month{
  font-family: 'Neosans';
  color: $main-blue;
  font-weight: bold;
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.events .events-content .desc{
  font-size: 12px;
}
.events .events-content .events-date{
  font-size: 36px;
  line-height: 60px;
  font-weight: bold;
}

.event-text-circle {
  width: 70px;
  min-height:60px;
  border-radius: 50%;
  color: $bb-gray;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  vertical-align:middle;
  display: table-cell;
}

.red-line {
  background-color: $main-red;
  width: 55px;
  height: 5px;
  margin: 0;    
}