@import './variables.scss';

.gallery-detail{

}
.gallery-detail .gallery-header{
    padding-top: 10px;
    padding-bottom: 5px;
    font-style: bold;
    // color: #fff;
    font-size: 1.6em;
}
.gallery-detail .gallery-content{
    margin-bottom: 10px;
    background-color: #fff;
}
.gallery-detail .gallery-content .gallery-col {
    // margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;

}
.gallery-detail .gallery-content .gallery-col .gallery-info{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.gallery-detail .gallery-content .gallery-col .gallery-info .gallery-content-title{
    font-weight: bold;
    font-size: 1.0em;
}.gallery-detail .gallery-content .gallery-col .gallery-info .gallery-footer{
    font-weight: bold;
    font-size: 0.8em;
}

.gallery-detail .gallery-content .gallery-col .gallery-thumbnail {
    position: relative;
}
.gallery-detail .gallery-content .gallery-col .gallery-thumbnail .gallery-image{
    width: 100%;
    height: auto;
   // max-height: 235px;
}
.gallery-detail .gallery-content .gallery-col .gallery-thumbnail .gallery-image-title {
    position: absolute;
    top: 3%;
    left: 3%;
    // transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: $bb-blue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}
.gallery-detail .gallery-content .gallery-col .gallery-thumbnail img{
    width: 100%;
    height: auto;
    display: block;
}


.gallery-detail .gallery-card-container .gallery-col {
    padding: 15px;
}
.gallery-detail .gallery-card-container .gallery-col .gallery-card{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;

}
.gallery-detail .gallery-card-container .gallery-col .gallery-info{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.gallery-detail .gallery-card-container .gallery-col .gallery-info .gallery-content-title{
    font-weight: bold;
    font-size: 1.0em;
}.gallery-detail .gallery-card-container .gallery-col .gallery-info .gallery-footer{
    font-weight: bold;
    font-size: 0.8em;
}

.gallery-detail .gallery-card-container .gallery-col .gallery-thumbnail {
    position: relative;
}
.gallery-detail .gallery-card-container .gallery-col .gallery-thumbnail .gallery-image{
    width: 100%;
    height: auto;
   // max-height: 235px;
}
.gallery-detail .gallery-card-container .gallery-col .gallery-thumbnail .gallery-image-title {
    position: absolute;
    top: 3%;
    left: 3%;
    // transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: $bb-blue;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
}
.gallery-detail .gallery-card-container .gallery-col .gallery-thumbnail img{
    width: 100%;
    height: auto;
    display: block;
}


.gallery-detail .gallery-paging{
    text-align: center;

}
