/*
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
$bb-blue : #0A2F88;
$bb-yellow : #F5DF00;
*/

body{
  margin: 0; padding: 0;
}

.container {  
  max-width: 1020px;
  margin: 0 auto;
  padding: 0;
  
}
.video-container {  
  width: 100%;
  margin: 0 auto;
  padding: 0;
}