
@import "src/styles/variables.scss";

.el-header{  
  margin: 0; padding: 0;  background-color: #FFF; 
}
/*
  top navigation ok
*/
.topnav{
  &-wrapper {
    background-color : $main-blue;
    color: #FFF;
    height: 100%;    
  }
  &-content{
    min-height: 40px;
    text-align: right;
    font-size: 14px;
    a, a:hover, a:visited
    {
      color: #fff;      
    }
    a:not(:first-child) {
      padding-left: 20px;
    }
    svg{
      height: 16px;
    }
    @media all and (max-width: 480px) {
      font-size: 10px;      
      a:not(:first-child) {
        padding-left: 5px;
      }
      svg{
        height: 14px;
      }
    }  
  }
}
/********************
  logo beritabaik.id
  search form
  lang select
  user/member area 
**********************/
.hd{
  &-wrapper{
    background-color: #fff;
    .svg-btn{
      border: none;
      background: transparent;
    }
  }
  &-content{
    height: 90px;    
  }
  &-logo{
    text-align: left;
    img{
      max-height: 50px      
    }
  }
  &-write{
    text-align: right;
    .main-button{
      background-color: $main-blue;
      color: $bb-white-menu;
      font-size: 0.75em;  
      font-family: 'Neosans-black';  
      text-transform: uppercase;        
    }
  }
  &-srch{
    text-align: right;
  }
  &-user{
    text-align: right;
    a, a:visited{        
      font-family: 'Neosans-black'; 
      font-size: 0.75em;        
      color: $main-blue;
      text-transform: uppercase;        
    }
    a:hover{
      color: $main-red;
    }
    .avatar-wrapper{
      .el-button{
        border: none;
        padding: 0;
        img{
          width: 50px;
          height: auto;
        }
      }
      .el-button:hover,
      .el-button:active,
      .el-button:focus{
        background: none;         
      }                        
    }
  }
}
// @media all and (max-width: 480px) {
@media all and (max-width : 768px) {  
  .hd{
    &-wrapper{
      // background-color: #fff;
    }
    &-content{
      height: 70px;
    }
    &-logo{
      // text-align: left;
      img{
        max-height: 30px      
      }
    }
    &-right{
      text-align: right;
      .cms{
        font-size: 10px;
        line-height: 20px;
        font-weight: bold;        
      }      
      button{
        margin: 0;
        padding: 0;
        cursor: pointer;
      }
      svg{
        height: 16px;
      }
      .spacer-l{
        margin-left: 5px;
        padding-right: 5px;
        border-left: 1px solid #ccc;
      }
      a, a:visited{        
        color: $main-blue;        
      }
      a:hover{
        color: $main-red;
      }
      .avatar-container{
        height: 100%;        
        display: inline;        
      }
      .avatar-wrapper{
        display: inline;
        .el-button{
          border: none;
          padding: 0;          
          img{
            vertical-align: bottom;
            width: auto;
            height: 18px;
          }
        }
        .el-button:hover,
        .el-button:active,
        .el-button:focus{
          background: none;         
        }                        
      }
    }
    
  }
  .search-box{
    margin-bottom: 10px;
  }
}

.menu-wrapper {
  background-color: $main-red;  
  padding: 0;
  margin: 0;
  z-index: 2;
  //border-bottom: 2px solid $main-red;
  position: relative;
}

.toggle,
[id^=drop] {
	display: none;
}

nav a.router-link-active {  
  color: $bb-white;
  border-bottom: 2px solid $bb-white-menu;
  // background-color: rgba($color: $bb-white, $alpha: 0.1)
}

/* Giving a background-color to the nav container. */
nav {
  font-size: 12px;
  position: relative;
  font-family: 'Neosans-Black';
}

#logo {
	display: block;	
	float: left;
  padding-top: 9px;
  padding-right: 9px;  
}

#logo a{
  margin: 0;
  padding: 0;
  border: none;
}
#logo img{
  width: 30px;  
}

.social-media-container{
  color: $bb-white-menu;
  padding-top: 12px;
  padding-right: 0;
  float: right;
  a{
    padding: 0 0 0 0;
    display: inline;
    .icon{
      width: 25px;
      height: 25px;
      border-radius: 50%;
      padding: 3px;
      border: 2px solid $bb-white-menu;  
    }
  }
  a:hover{
    border: none;
  }  
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content: "";
	display: table;
	clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	// float: right;
	padding: 0;
	margin: 0;
	list-style: none;
  position: relative;
  z-index: 2;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0;
	display: inline-block;
	float: left;
	background-color: $main-red;
  text-transform: uppercase;
	}

/* Styling the links */
nav a {
	display: block;
	padding: 18px 10px;	
	color: $bb-white-menu;
  //border-bottom: 2px solid $main-red;  
}
nav ul li ul li:hover { color: white; }

/* Background color change on Hover */
nav a:hover {
  border-bottom: 2px solid $bb-white-menu;
  color: $bb-white;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 50px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display: inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 170px;
	float: none;
	display: list-item;
	position: relative;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top: -60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left: 170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' \25BC'; color: $bb-white-menu; font-size: .7em; }
li > a:only-child:after { content: ''; }

.menu >li:last-child{
  float:right;
}
/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

.menu-wrapper{
  //padding-bottom: 10px;
}
#logo{
  img{
    margin-left: 10px;
  }    
}

.cross-menu,
.hamburger-menu{
    float: right;
    text-align: right;
    margin-top: 5px;
  }

	nav {
		margin: 0;
    padding-top: 0;    
    min-height: 50px;    
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		//background-color: $red-1;
		padding: 10px 0;	
		color: $bb-white-menu;
		text-decoration: none;
		border: none;
	}

	.toggle:hover {
		//background-color: $red-1;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

  [id^=drop]:not(:checked) + ul {
		display: none;
  }
  
	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		border: none;
    text-decoration: none;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding: 10px 20px;	
		color: $bb-white-menu;
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		text-decoration: none;
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position: static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

  }
  
  .arrow{
    font-size: 0.7em;
  }
  
  nav ul li:last-child{
    padding-bottom: 10px;
  }

}

@media all and (max-width : 330px) {
  #logo{
    img{
      // margin-left: 10px;
    }    
  }
  .container{
    // margin: 0; padding: 0;
  }
  nav{
    // font-size: 12px;
    // padding-top: 10px;
  }
	nav ul li {
		display: block;
		width: 94%;    
	}

}

.svg-icon{
  font-size: 20px;
  font-weight: 700;  
}

.home-hide{
  display: none;
}

.mc{
  width: 100%;  
  display: table;
  min-height: 108px;
  .mc-content{
      vertical-align:middle;
      display: table-cell;
  }  
}

@media all and (max-width : 768px) {  
  .mc{
    width: 100%;  
    display: table;
    min-height: 60px;
    .mc-content{
        vertical-align:middle;
        display: table-cell;
    }  
  }
  .head{
    &-wrapper {
      // height: 100px;
    }
    &-item{    
      height: auto;
      text-align: center;
      &-img{       
        img{         
          margin: 10px 0 0 0;
        }
      }   
      
    }
  }    
}

/*
  additional style
  comment-box
*/
@media all and (max-width: 480px) {    
  .comment-box .content{
    &-comment{
      padding: 0;
      textarea{
        padding: 0;
        background-color: red;       
      }      
    }
  }  
}