body{
  margin: 0 auto; padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Neosans';
}
.container {  
  position: relative;
  max-width: 1170px;
  // max-width: 900px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;  
    
}
.container-black {  
  position: relative;
  max-width: 1170px;
  // max-width: 900px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;  
  background-color: $bb-black;    
}
.video-paging,
.gallery-paging,
.infografis-paging{
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {    
    background-color: transparent;
    color: $bb-gray;
    font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    &:hover { 
      color: $main-red;
    }
    span{
      font-size: 16px;
    }
  }

  .el-pagination.is-background .btn-next.disabled,
  .el-pagination.is-background .btn-prev.disabled {
    color: #c0c4cc;
    &:hover{
      color: none;
    }
  }

  .el-pagination.is-background .el-pager li {    
    min-width: 30px;
    height: 30px;
    line-height: 28px;
    vertical-align: top;
  }
  .el-pagination.is-background .el-pager li.active { 
    border: 2px solid $main-red;
    border-radius: 50%;
    color: $main-red;    
  }

}

.comments-paging,
.ac-paging{
  .el-pagination.is-background .btn-next,
  .el-pagination.is-background .btn-prev,
  .el-pagination.is-background .el-pager li {    
    background-color: transparent;
    color: $black-2;
    font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
    font-weight: 700;
    font-size: 12px;    
    &:hover { 
      color: $main-red;
    }
    span{
      font-size: 12px;
    }
  }

  .el-pagination.is-background .btn-next.disabled,
  .el-pagination.is-background .btn-prev.disabled {
    color: #c0c4cc;
    &:hover{
      color: none;
    }
  }

  .el-pagination.is-background .el-pager li {    
    min-width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .el-pagination.is-background .el-pager li.active { 
    border: 2px solid $black-2;
    border-radius: 50%;
    color: $black-2;
    line-height: 20px;   
  }
}

.icon-network{
  .network-icon {
    border-radius: 50px;
    // box-shadow: 0px 0px 2px #0a0a0a;
    padding: 5px 5px;
    border: 2px solid #515151;
    width: 32px;
    height: 32px;
  }
}

/*
  home-headline-slider indicator
*/
.hl-slider{  
  .el-carousel__container{
    height: 650px;    
  }
  .el-carousel__indicators{
    
  }
  .el-carousel__button{
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
}
