@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import 'element-ui/lib/theme-chalk/display.css';
@import './sidebar.scss';
@import './home.scss';

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../assets/fonts/dinpro/DINPro-Regular_13937.ttf'); 
}
@font-face {
  font-family: 'Neosans-Medium-Italic';
  src: url('../assets/fonts/neosans/NeoSans Medium Italic.otf'); 
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  //font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-family: DINPro-Regular, Neosans-Medium-Italic, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-20 {
  margin-top: 20px;
}

.m-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.latest-news-title {
  font-size: 25px;
  color: #042f7f;
  font-weight: bold;
}
.section-title {
  font-size: 20px;
  color: #042f7f;
  font-weight: bold;
}

.h-divider{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #000;
  margin: auto;
}

.v-icon,
  .icon-20 {
    width: 20px;
  }

.article-content{
  color: #696968
}

.main-footer{
  background-color: #696968;
  color: #fff;
}

.side-separator {
  margin-top: 10px;
  text-align: right;
  
}
.side-separator span{
  display: flex;
  flex-direction: row;
  color: #b0b0b0;
}
.side-separator span:before{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #e6e6e6;
  margin: auto;
}