.popular-news {
    border: solid 1px;
    padding: 15px;
    border-color: #e6e6e6;
    font-size: 0.8em;
}
.popular-news .side-row{
    height: 110px;
}
.popular-news .side-row .side-content {
    padding-left: 1em;
    height: 100%;

}
.popular-news .side-row .side-content .content-container{
    height: auto;
}
.popular-news .side-row .side-content .content-container .side-title-section{
    min-height: 55px;
    max-height: 55px;

}
.popular-news .side-row .side-image {
    margin-bottom: 0.8em;
}
.popular-news .side-row .side-image .card-image{
    width: 100%;
    height: 90px;
}

.popular-news .side-row .side-content  .footer{
    font-weight: bold;
    font-size: 0.8em;
}
