@import './variables.scss';
.profile{
    &-wrapper{
        padding: 0;
        margin: 0;
    }
    &-header{
        background-color: #e6e6e6;
    }
    &-content{
        background-color: #fff;
    }
    &-other-content{
        background-color: #fff;
    }
}