@import './variables.scss';

.subscribe {
    margin: 20px 0;   
}

.subscribe .subscribe-content{    
    color: #9a9a9a;
    font-size: 1em;    
    span{
        font-weight: 900;
    }
    .el-input__inner{
        color: #9a9a9a;
        font-size: 0.8px;
    }
}

.mc{
    display: table;
    min-height: 63px;    
    .mc-content{
        vertical-align:middle;
        display: table-cell;
    }
}
