//sidebar
$menuBg: #013066; //#304156;
$subMenuBg: #013066; //#1f2d3d;
$menuHover: #FBDD01; // #001528;

//frontpage
$bb-blue: #0A2F88;
$bb-blue1: #174596;
$bb-blue2: #0071CF;
$bb-yellow: #F5DF00;
$bb-yellow1: #F0D302;
$bb-yellow2: #B9BE31;
$bb-white: #DEE4F0;

$bb-grayWhite: #928e8e;
$bb-gray: #e6e6e6;
$bb-black: #000000;

